body{ margin:0; padding:0; border:0;font-family: "Microsoft JhengHei";}
a:link,a:hover,a:visited,a:active {
    text-decoration: none;
}
@media screen and (min-width: 40em) {
    .nav-collapse {
        background: gray;
    }
    .nav-collapse ul {
        text-align: center;
    }
    .nav-collapse ul li {
        display: inline;

    }
    .nav-collapse ul li a {
        padding: 10px 65px;
        color: white;
        display: inline-block;
    }
    .nav-collapse ul li a:hover {
        background: black;
    }
    #toggle {
        display: none;
    }
}
@media screen and (max-width: 39em) {
    #toggle {
        position: fixed;
        top: 5px;
        right: 5px;
        z-index: 10;
        color: orange;
    }
    .nav-collapse {
        background: gray;
    }
    .nav-collapse ul {
        text-align: center;
    }
    .nav-collapse ul li a {
        padding: 10px 30px;
        color: white;
        display: block;
    }
    .nav-collapse ul li a:hover {
        background: black;
    }
}
html,
body {
    height: 100%;
}

/* You can change the height of the carousel by changing the height in the class below. It is set to 50% by default, but can be any height! */

.carousel {
    height: 70%;
}

.item,
.active,
.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
#introduction {
    background: #CDC8C3;
    color: #262626;
}
#introduction h1 {
    margin: 0 0 10px 0;
    text-align: center;
    padding-top: 10px;
}
#introduction h1 a {
     color: #CC6600;
     text-shadow: 2px 2px 5px black;
}
.col-group > div {
  padding: 1em;
  margin-bottom: 1em;
}

@media screen and (min-width: 44em) {
  .col-group {
    overflow: hidden;
  }
  .col-group > div {
    float: left;
    width: 50%;
  }
}
iframe {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
.img-center {
    margin: 0 auto;
    width: 250px;
    height: 250px;
    transition: border 0.7s;
}
.img-center:hover {
    border: 9px solid white;
}
#classes {
    background: #3C3C3C;
    width: 100%;
    color: #F2F2F2;
    text-shadow: 2px 2px 5px #CC6600;
}
#classes h1 {
    color: #CC6600;
    text-shadow: 2px 2px 5px black;
}
.modal-body {
    background: #3C3C3C;
}
.modal-body p {
    color: #E9E9E9;
}